.nois {
    width: 850px;
    height: 800px;
    position: relative; 
}

.paint {

    width: 550px;
    height: 350px;
    position: relative; 

}

.postal {

    width: 550px;
    height: 450px;
    margin-bottom: 5px;
}

.postal1 {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


h3 {

    zoom: 300%;
    height: 5px;
}

.titulo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

