body {

    background-color: aqua;
}



.caja2 {
    background-color: violet;
    width: 700px;
    height: 500px;
    width: 50vw;
    height: 50vw;
}

.caja3 {
    width: 700px;
    height: 500px;
    background-color: brown;
    height: 50vw;
    width: 50vw;

}

.fotos {
    display: flex;
}

.paint {
    width: 50vw;
    height: 25vw;
}

.nois {

    width: 700px;
    height: 50vw;
}

.postal {
    width: 50vw;
    height: 25vw;

}

.titulo {

zoom: 200%;

}